name: Volcanic Imageman build

on:
  pull_request:
    branches:
      - develop
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-ruby@v1
      with:
        ruby-version: '2.5'
    - name: Install dependencies
      run: bundle install
    - name: Rubocop
      run: rubocop
    - name: Run tests
      run: bundle exec rake